html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: rgb(112, 112, 112);
}

body {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

#page-header {
    background-color: #000;
    padding: .7rem 5rem;
}

.header-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-inner #logo {
    flex: 1;
}

.header-inner nav {
    display: flex;
}
.header-inner nav > a {
    color: #fff;
    padding: 3px 10px;
    font-size: 0.7rem;
}
#main-nav > a {
    text-transform: uppercase;
}


